body
{
  font-family: "Avenir";
  padding-top: 1em;
}

h1, h2, h3, h4, h5, h6
{
  font-weight: 600;
}

dt
{
  margin-top: .5em;
}

dd
{
  margin-left: 1em;
}

iframe
{
  border: none;
}

.centered
{
  margin-left: auto;
  margin-right: auto;
}

.fullwidth
{
  width: 100%;
}

.navbar-toggle
{
  background: #eee;
  border: 1px solid #ddd;
  float: none;
}

.navbar-toggle .icon-bar
{
  background-color: #333;
}

.jumbotron
{
  /*
   * Permission granted by Shaun Killen to use this image for SAC 2016
   * on 4 Sep 2015 [private correspondance]. No other uses have been authorized.
   */
  background-image: url("../images/st-johns-pano-large-2000-srgb.jpg");

  background-position: 0% 25%;
  background-size: cover;

  box-shadow: inset 0 0 0 1000px rgba(43, 81, 127, 0.3);
  text-shadow: 4px 4px 10px black;
}

.jumbotron h1, .jumbotron p
{
  color: white;
}

.jumbotron h1
{
  font-weight: 700;
}


td:not(:first-child)
{
  padding-left: 1em;
}

td:first-child
{
  font-weight: bold;
}

.left
{
  float: left;
}

.right
{
  float: right;
}

.news
{
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: .5em;
}

.news .summary
{
  font-size: small;
  margin: .5em;
}

#sidebar
{
  padding-left: 0;
}

#sidebar .list-group-item
{
  padding-left: .5em;
  padding-right: .5em;
}

.row
{
  margin-bottom: 1em;
}

.wide
{
  width: 100%;
}

#top
{
  margin-bottom: 0;
}

h1:first-child
{
  margin-top: 0;
}

.row :first-child
{
  margin-top: 0;
}

.row-offcanvas-left.active
{
  left: 60%;
}

.sponsor
{
  padding: 1em;
  text-align: center;
}

.sponsor .logo
{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 50%;
}

.sponsor .logo .dummy
{
  padding-top: 50%;
  margin-bottom: 50%;
}

.sponsor .logo img
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

@media screen and (min-width: 768px)
{
  .jumbotron
  {
    padding-bottom: .25em;
  }
}
